.button {
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Anonymous Pro', monospace;
  border: none;
}

.aceptar {
  background-color: #09A109;
  color: white;
  font-weight: bold;
}

.button:disabled {
  background-color: #555;
  cursor: not-allowed;
}
