/* Contenedor principal con scroll horizontal */
.tableContainer {
    background: transparent;
    font-family: 'Anonymous Pro', monospace;
    overflow-x: auto; /* habilita scroll horizontal */
    width: 100%;
}

/* Encabezado con borde y separación */
.headerWrapper {
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #242424;
}

/* Tabla */
.table {
    width: 100%;
    min-width: 500px; /* fuerza scroll en móviles si no cabe */
    border-collapse: collapse;
    table-layout: fixed;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 8px;
}

/* Encabezado */
.table th {
    background-color: #242424;
    color: white;
}

/* Cuerpo separado */
.bodyWrapper {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: white;
}

.table td {
    background-color: white;
    color: black;
    border-bottom: 1px solid #ddd;
}

/* Distribución de columnas */
.table th:nth-child(1),
.table td:nth-child(1) {
    width: 30%; /* Empleado/Solicitud */
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 25%; /* Tipo/Estado */
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 20%; /* Fecha */
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 25%; /* Acciones */
}

.actions {
    display: flex;
    gap: 8px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    min-width: 500px;
}

.pagination button,
.pagination span {
    margin: 0 4px;
    padding: 4px 8px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}

.pagination button:hover,
.pagination span:hover {
    background-color: #808080;
    color: white;
}

.pageActive {
    color: var(--color-primario);
    font-weight: bold;
}

.selector select {
    background-color: white;
    color: black;
    border: none;
    padding: 4px;
    border-radius: 4px;
}

.selector select:hover {
    background-color: #808080;
    color: white;
}
