@font-face {
  font-family: 'Anonymous Pro';
  src: url('https://fonts.gstatic.com/s/anonymouspro/v20/rP2Bp2a15UIB7Un-bOe3.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Anonymous Pro';
  src: url('https://fonts.gstatic.com/s/anonymouspro/v20/rP2Cp2a15UIB7Un-bOe3.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --color-primario: #0BC20B;
  --color-modales: #09A109;
  --color-secundario: #242424;
  --color-terciario: #0BC20B;
}

body {
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
  background-color: var(--color-secundario);
  color: white;
}

/* Layout general */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-body {
  display: flex;
  flex: 1;
}
